<html>
<head>
    <title>ACADIAN</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/icon.min.css">
    <link rel="stylesheet" href="{{ asset('css/acad.css') }}" />
</head>
<body>
    <h1 class="margins-10">IAN ACADEMY</h1>
    <div id="content" data-model="{{dataModel|json_encode()}}" class="margins-10"></div>
    <script src="{{ asset('js/main.js') }}"></script>
</body>
</html>